<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>OAuth 2.0 Flow Debugger</title>
</head>

<body class="bg-light">

    <nav class="navbar navbar-white bg-white shadow-sm" style="position: fixed; top: 0; width: 100%; z-index: 9999;">
        <span class="navbar-brand">OAuth 2.0 Flow Debugger</span>
        <ul class="navbar-nav mr-auto" style="flex-direction: row;">
            <li class="nav-item p-3">
                <a class="nav-link" href="/authorize">Authorize</a>
            </li>
            <li class="nav-item p-3">
                <a class="nav-link" href="/token">Token</a>
            </li>
            <li class="nav-item p-3">
                <a class="nav-link" target="_blank" href="{{metadata_url}}">Server metadata</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div class="form-group mb-2">
                <label class="nav-item" for="serverSelector">Server&nbsp;&nbsp;&nbsp;</label>
                <select id="serverSelector" class="form-control" onchange="selectServer()">
                    {% for srv in servers %}
                    <option value="{{srv}}" {{ 'selected' if srv == server else '' }}>{{srv}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </nav>

    <div class="container" style="padding-top: 90px;">