<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>OAuth 2.0 Flow Debugger</title>
</head>

<body class="bg-light">

    <nav class="navbar navbar-white bg-white shadow-sm" style="position: fixed; top: 0; width: 100%; z-index: 9999;">
        <span class="navbar-brand"><a class="nav-link" href="/">OAuth 2.0 Flow Debugger</a></span>
        <ul class="navbar-nav mr-auto" style="flex-direction: row;">
            <li class="nav-item p-3">
                <a class="nav-link" href="/authorize">Authorize</a>
            </li>
            <li class="nav-item p-3">
                <a class="nav-link" href="/token">Token</a>
            </li>
        </ul>
        
        <span style="flex-direction: row;">
            Server: 
            {% if server is not none %}
            <a target="_blank" href="{{server[1]['metadata_url']}}">{{server[0]}}</a>
            {% else %}
            [none]
            {% endif %}
        </span>
    </nav>

    <div class="container" style="padding-top: 90px;">